# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/

# Environment
.env
.env.*
*.env

# Logs
logs/
*.log

# Leftover practice files
my-project/

# Virtual environments
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# pytest
.pytest_cache/
